body{
    background-color: black;
    margin: 0px;
    padding: none;
}
#alli-header{
    color: #fff;
    font-family: 'Ramabhadra', sans-serif;
    text-align: center;
    font-weight: 600;
    font-size: 50px;
}
.sub-header{
    color:rgb(118, 201, 9);
    font-family: 'Ramabhadra', sans-serif;
    text-align: center;
    font-size: 12px;
    margin-top: -12px;
}
.alli-intro{
    width: 70%;
    margin: 0 auto;
    text-align: left;
    font-size: 25px;
    color: #fff;
    margin-top: 150px;
}
#about-header{
    color: #fff;
    font-family: 'Ramabhadra', sans-serif;
    text-align: center;
    font-weight: 400;
    font-size: 40px;
    margin-top: 230px;
}
.about-me{
    width: 68%;
    margin: 0 auto;
    color: #fff;
    font-family: 'Ramabhadra', sans-serif;
    font-size: 20px;
    line-height: 30px;
    margin-top: 30px;
}
.previous button{
    width: 40px;
    height: 40px;
    font-weight: bold;
    margin-top: 70px;
    background-color: #000;
    border:0.5px solid #444;
}
.previous button:hover{
    background-color: #444;
}
.next button{
    width: 40px;
    height: 40px;
    font-weight: bold;
    margin-top: 70px;
    background-color: #000;
    border:0.5px solid #444;
}
.next button:hover{
    background-color: #444;
}
#works-header{
    color: #fff;
    font-family: 'Ramabhadra', sans-serif;
    text-align: center;
    font-weight: 400;
    font-size: 40px;
    margin-top: 230px;
}
.work img{
    width: 100%;
    height: 400px;
    margin-top: 30px;
}
#immigration-homepage{
    width: 100%;
    height: 400px;
    margin-top: 30px;
    background: url("https://res.cloudinary.com/dhksbreon/image/upload/v1536954254/Homepage.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
#immigration-homepage #homepage{
    display: none;
    background: rgba(0, 0, 0, 0.7);
    width:100%;
    height: 100%;
}
#immigration-homepage #homepage p{
    position: absolute;
    width: 80%;
    margin: 0 auto;
    font-size: 40px;
    font-weight: 600px;
    color: #fff;
    font-family: 'Ramabhadra', sans-serif;
    margin-top: 100px;
    margin-left: 30px;
}
#immigration-aboutpage{
    width: 100%;
    height: 400px;
    margin-top: 30px;
    background: url("https://res.cloudinary.com/dhksbreon/image/upload/v1536954633/About_1.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
#immigration-aboutpage #aboutpage{
    display: none;
    background: rgba(0, 0, 0, 0.7);
    width:100%;
    height: 100%;
}
#immigration-aboutpage #aboutpage p{
    position: absolute;
    width: 80%;
    margin: 0 auto;
    font-size: 40px;
    font-weight: 600px;
    color: #fff;
    font-family: 'Ramabhadra', sans-serif;
    margin-top: 100px;
    margin-left: 30px;
}
#volks{
    width: 100%;
    height: 400px;
    margin-top: 30px;
    background: url("https://res.cloudinary.com/dhksbreon/image/upload/v1536955643/Desktop_7.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
#volks #volkpage{
    display: none;
    background: rgba(0, 0, 0, 0.7);
    width:100%;
    height: 100%;
}
#volks #volkpage p{
    position: absolute;
    width: 80%;
    margin: 0 auto;
    font-size: 40px;
    font-weight: 600px;
    color: #fff;
    font-family: 'Ramabhadra', sans-serif;
    margin-top: 100px;
    margin-left: 30px;
}
#mobilepage1{
    width: 80%;
    height: 400px;
    margin-top: 30px;
    background: url("https://res.cloudinary.com/dhksbreon/image/upload/v1537204468/Capture2.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;

}
#mobilepage1 #mobilepage-profile{
    display: none;
    background: rgba(0, 0, 0, 0.7);
    width:100%;
    height: 100%;
}
#mobilepage1 #mobilepage-profile p{
    position: absolute;
    width: 80%;
    margin: 0 auto;
    font-size: 40px;
    font-weight: 600px;
    color: #fff;
    font-family: 'Ramabhadra', sans-serif;
    margin-top: 100px;
    margin-left: 30px;
}
#mobilepage2{
    width: 80%;
    height: 400px;
    margin-top: 30px;
    background: url("https://res.cloudinary.com/dhksbreon/image/upload/v1537204510/moblepage2.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
#mobilepage2 #mobilepage-news{
    display: none;
    background: rgba(0, 0, 0, 0.7);
    width:100%;
    height: 100%;
}
#mobilepage2 #mobilepage-news p{
    position: absolute;
    width: 80%;
    margin: 0 auto;
    font-size: 40px;
    font-weight: 600px;
    color: #fff;
    font-family: 'Ramabhadra', sans-serif;
    margin-top: 100px;
    margin-left: 30px;
}
#wanderlust{
    width: 80%;
    height: 400px;
    margin-top: 30px;
    background: url("https://res.cloudinary.com/dhksbreon/image/upload/v1536953889/wanderlust.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
#wanderlust #wanderlust-caption{
    display: none;
    background: rgba(0, 0, 0, 0.7);
    width:100%;
    height: 100%;
}
#wanderlust #wanderlust-caption p{
    position: absolute;
    width: 80%;
    margin: 0 auto;
    font-size: 40px;
    font-weight: 600px;
    color: #fff;
    font-family: 'Ramabhadra', sans-serif;
    margin-top: 100px;
    margin-left: 30px;
}
.behance-refer{
    color:#fff;
    margin-top: 30px;
    font-size: 20px;
}
.behance-refer a{
    text-decoration: none;
}

#contact-header{
    color: #fff;
    font-family: 'Ramabhadra', sans-serif;
    text-align: center;
    font-weight: 400;
    font-size: 40px;
    margin-top: 230px;
}
.alli-contact{
    color: #fff;
    font-family: 'Ramabhadra', sans-serif;
    font-size: 20px;
    line-height: 30px;
    width: 100%; 
    text-align: justify;
    margin-top: 50px;
}
.contact{
    color: #fff;
    text-align: justify;
    font-size: 15px;
}
.social-media{
    width: 100%;
    margin-top: 320px;
    text-align: center;
}
.social-media a{
    margin-right: 40px;
    text-decoration: none;
}
.social-media a:hover{
    margin-right: 40px;
    color:rgb(151, 167, 130);
}
.arrow-up{
    width: 30px;
    height: 30px;
}
footer{
    background: #000;
    color: #fff;
}

@media only screen and (max-width: 375px){
  
    .logo{
        width: 60px;
    }
    .alli-intro{
        width: 100%;
        margin: 0 auto;
        text-align: left;
        font-size: 18px;
        line-height: 30px;
        color: #fff;
        margin-top: 150px;
    }
    .about-me{
        width: 95%;
        margin: 0 auto;
        font-size: 18px;
    }
    .social-media{
        margin-left: 13px;
    }
    .arrow-up{
        margin-left: 50px;
    }
}